@import "../../../assets/styles/scss/rem";
#navBAr{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #d8d8d8;
    position: relative;
    .tab-tag{
        margin: 10px;
    }
    .userInfo{
        position: absolute;
        height: 100%;
        top: 0;
        right: 0;
        padding-right: 10px;
        p{
            margin-right: 15px;
        }
    }
}
